body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
    background-color: #b91d1d;
    color: white;
    padding: 10px;
    text-align: center;
}
h2{
    text-align: center;
}

/* Footer Styling */
footer {
    background-color: #b91d1d;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #800000;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    background-color: rgb(177, 46, 46);
}

.section h2 {
    color: #b30000;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 400px;
    margin: 40px auto;
}

form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #721c24;
}

form label {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Select Styling */
form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c5535f;
    border-radius: 4px;
    outline: none;
}

/* Option Styling */
form select option {
    background-color: #ffffff;
    color: #333333;
    padding: 10px;
}

/* Hover Effect for Select Options */
form select option:hover {
    background-color: #d64a4a;
}

/* Input Styling */
form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c5535f;
    border-radius: 4px;
    outline: none;
}

/* Button Styling */
form button {
    width: 100%;
    padding: 10px;
    background-color: #b30000;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

form button:hover {
    background-color: #a71d2a;
}
